<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="FaceBook App Regression Test Suite" parallel="classes" thread-count="2">
	<test name="Regression Functional Test" verbose="2">

		<classes>
			<class name="com.facebook.qa.test.LoginPageTest" />
			<class name="com.facebook.qa.test.HomePageTest" />

		</classes>
	</test>
</suite>